# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class
*.pyc


# Virtual environment folders
venv/
app/.env/

# Environment variables
*.env

# Python cache and logs
*.log
*.sqlite3
.DS_Store

cdk/new_venv/